<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css"/>
</head>
<body>
    <header>
        <img src="~/logga.jpg" height="50" asp-area="" asp-controller="Home" asp-action="Index">

        <nav class="navbar">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GuessingGame" asp-action="GuessingGame">Guessing game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="PeopleIndex">People</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Doctor" asp-action="Fever">FeverCheck</a>
                    </li>
                </ul>
                </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer><h4>@DateTime.Today.ToShortDateString() &copy; Kim Roysdotter</h4>
    
    </footer>
</body>
</html>
