using WebUtbApp.Models;

@model WebUtbApp.Models.DoctorModel

@{
    ViewData["Title"] = "Fever";
}

<h1>Fever</h1>

<hr />
<div>
    <p>@ViewBag.Message</p>
    <form asp-action="Fever">
        <div>
            <label asp-for="Temp"></label>
            <input type="number" asp-for="Temp" />
            <input type="submit" value="Testa" />
        </div>
    </form>
</div>



