
@{
    ViewData["Title"] = "About";
}

<h1>CV      	Kim Roysdotter</h1>
<div id="short_about">
   <img src="~/kim.jpg" class="short_jpg" width="150"/>
   
       <h3 class="short_title">Sammanfattning</h3>
       <p class="short">
           Har alltid haft ett stort intresse för teknik och startade mitt yrkesverksamma liv som verkstadstekniker, NC-operatör. Skolade sedan om mig till It-tekniker. Jag har haft många olika roller i mina anställningar som till exempel data-lärare, web-tekniker, support i olika former. Jobbat med installation, underhåll samt reparationer, vilket jag fortsatte göra även som egenföretagare.
           Mitt mål är att hitta ett arbete där jag får använda min kompetens som jag utvecklat under mitt långa arbetslivsliv. Eftersom jag har arbetat inom flera olika branscher har jag en väldigt bred och omfattande kunskap som jag kan tillämpa inom flera olika yrkesroller.
       </p>
</div>
<div class="container">
    <h3>Arbetslivserfarenhet</h3>

    <h4>2021–juni-aug 	Lastbilsförare inom distribution, Student Consulting, Placering: PostNord, Uddevalla</h4>
    [Semestervikariat]
    Köra ut diverse gods och paket till olika företag och privatpersoner i Bohuslän, samt hämta upp avgående post från PostNords Företagscenter, Strömstad för vbf till Göteborg.
    Lärdomar: Sommartider är det mycket vägarbeten som stoppar trafiken helt.
    <h4>2018/19–Okt-Feb 	Lastbilsförare inom distribution, Runessons Åkeri, Trollhättan</h4>
    [Timanställd]
    Köra ut diverse gods och paket till olika företag.
    Lärdomar: Att ha jobbat i många år med support och mycket kundkontakter är det så mycket lättare att hantera situationer där det lätt kan bli lite stressigt. Denna bransch bjuder på många olika sorters människor såväl som trafiksituationer.
        <h4>2017 – Mars-Okt 	Systemutvecklare, InfoStep AB, Göteborg</h4>
        Fick börja med att göra ett verktyg för att underlätta periodisering av fakturor vilket var ett skarpt projekt med deadline för leverans till kund. Här blev det dagliga avstämningar med handledaren och testaren.
        Lärdomar: Man lär sig mycket på att självständigt lösa alla problem som dyker upp.
        <h4>2013 – Juni-Nov	Supporttekniker, Sykes AB, Dals-Ed</h4>

        Telefonsupport för HP’s skrivare. Felsökning och vägledning för kunder som har problem med sina skrivare. Allt loggas i CRM-baserat ärendehanteringssystem.
        Tjänsten ställer höga krav på: Teknisk kunskap, Service-känsla
        <h4>2003 - 2013 	Egen företagare, Högsäter</h4>

        Byggde, sålde, reparerade datorer och tillbehör samt gav support. Byggde även nätverk samt serverlösningar, plus hemsidor för föreningar och småföretag i HTML och lite Wordpress. Engagerade mig mycket för att försöka få bredband i hela Dalsland och inte bara i tätorterna
        Arbetet ställer höga krav på: Flexibilitet, Teknisk kunskap, Service-känsla. Lärde mig enormt mycket på att driva enskilt företag då det kräver att man lär sig allt från marknadsföring till bokföring och att det också utvecklar en som person.
        <h4>1996 – 2005	IS/IT-tekniker, Ericsson Microwave Systems AB, Mölndal</h4>

        IT-administration för samtliga på försvarsproduktion, vilket innefattade allt från nätverksadministration till support för hårdvara och programvaror. Utbildade samtliga på produktionen med egenutformade kurser i datoranvändning samt i förekommande programvaror. Projektledare för kvalitetsavdelningens räkning där jag utbildade berörda på samtliga enheter i Ericssons dokumenthanteringssystem. Teknisk IT-rådgivare inför planeringen av nybyggnationen av EMW’s nya fabrik i Kallebäck med avseende på informationsspridning och IT-miljö samt utfrustning i konferensrum. Ansvarade för att lära upp ett flertal medarbetare inom dator och nätverkssupport.
        Lärdomar: Att jag har lätt för att se helheten hos ett företag/avdelning gav mig möjlighet att utforska nya arbetsuppgifter. Ledarskap, verksamhetsutveckling och vikten av rätt dokumentation är också något jag tagit med mig.

        <h3>Praktik</h3>

        <h4>2019 – Maj 	Lastbilsförare, Renova, Göteborg</h4>
        [Prova på inför behovsanställning]
        Praktiserade i två veckor. Utkörning, tömning och hämtning av containers.
        <h4>2018 – Augusti 	Lastbilsförare inom distribution, TGM, Vänersborg</h4>

        Köra ut diverse gods och paket både till företag och privatpersoner.
        Lärdomar: Att som jag, ha ett bra tålamod är väldigt bra både i kontakter med kunder såväl som i trafiken och vid väntetider i samband med lastning/lossning.
        <h4>2016 – Sept-Dec 	Systemutvecklare, Avalon Innovation Technology AB, Göteborg</h4>
        (LIA-plats)
        Vidareutvecklade ett tidigare påbörjat internt projekt.
        Vi två praktikanter fick lösa problemen på egen hand och leta upp fungerande verktyg för olika arbetsuppgifter. Inom denna roll var samarbete väldigt viktigt.

        <h3>Utbildningar</h3>

        <h4>2021-2022 	Programmering .NET, Lexicon , Göteborg</h4>

        C#, ASP.NET, MVC, SQL-Server, Javascript och React, HTML och CSS, TDD, Azure
        <h4>2018	Yrkesutbildning till Lasbilschaufför, Yrkesakademin, Göteborg</h4>

        C-körkortsteori och övningskörning, YKB, ADR, Truckutbildning, APV, Hjärt-lung-räddning.
        <h4>2014-2017 	Webbutveckling inom .NET, Yrkeshögskola EC-Utbildning AB, Göteborg</h4>

        .NET Framework, C#, ASP.NET, MVC, SQL-Server, Javascript, HTML och CSS om totalt 400p
        <h4>1991 – 1992	Mikrodator Service, Arbetsmarknadsutbildning, Borås</h4>

        Utbildningen omfattade ämnena: Digitalteknik, Mikrodatorteknik, Grundläggande programmering, Mätteknik och Digital felsökning, Kundservice, Mekanik, Datakommunikation, Os, Hårdvara, Datorinstallation, Teknisk programmering
        <h4>1990 – 1991	Styr- och Reglermekanik, Arbetsmarknadsutbildning, Göteborg</h4>

        El-teleteknisk grundkurs och Kurs för Styr- och reglermekaniker vilket motsvarar 3-årig processteknisk utbildning på gymnasiet.

        <h3>Förtroendeuppdrag</h3>

        <h4>2018-2020	Kassör, Färgelanda Hemslöjdsförening</h4>
        Föreningen har försäljning i Högsäters bygdegård varje sommar
        <h4>2007-2010	Tävlingskoordinator, Färgelanda Ridklubb</h4>
        Sköta nätverksuppkoppling mot Centrala tävlingsdatabasen, hantera alla anmälningar och startlistor samt resultatlistor vid tävlingar
        <h4>Övriga åtaganden</h4>
        Varit engagerad i olika klubbar och fått förtroendet att sitta som såväl ordförande, sekreterare och kassör i dessa. Var under många år engagerad som sekreterare i Sveriges Motorcyklisters Centralorganisation, Göteborg och Bohuslän, där jag fick gå Instruktörskurs för att sedan ansvara för de årliga MC-kurserna ”avrostning”
        <h3>Kunskaper</h3>

        <h4>IT:</h4> 	Windows Server samt de flesta av Microsofts OS, Office, HTML, CSS, lite PERL och Javascript, Visma, Wordpress
        <h4>Språk:</h4> 	Svenska (Modersmål), Engelska flytande i tal och skrift
        <h4>Körkort:</h4> 	A, B + BE, C.
        <h4>Truckkort:</h4> 	A1 - A4, B1- B4, C2 & D1.
</div>


