@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}

<h1>My projects</h1>

<div class="projList">
    <ul>
        <li>
            <a href="https://github.com/KimRoys/SimpleCalculator">Simple Calculator</a>
            <br />En enkel början till miniräknare
        </li>

        <li><a href="https://github.com/KimRoys/HangMan">Hangman</a>
            <br />Ett litet Hänga gubben spel
        </li>
        <li>
            <a href="https://github.com/KimRoys/Calculatortest">TDD Calculator</a>
            <br />Test av Simple Calculator med XUnit
        </li>
        <li>
            <a href="https://github.com/KimRoys/Frontend">Frontend - HTML</a>
            <br />En enkel sida med HTML
        </li>
        <li>
            <a href="https://github.com/KimRoys/FrontEndCSS">Frontend - CSS</a>
            <br />Påbyggnad av HTML-sidan med CSS
        </li>
    </ul>


</div>

