@{
    ViewData["Title"] = "Guessing game";
}

<h1>Guessing game</h1>



@{
    // If the user submitted a guess, print the result string
	if(!(ViewBag.guessResultString is null))
	{
<div class="guessResult">@ViewBag.guessResultString</div>
	}

	if(!(ViewBag.newGame is null))
	{
<div class="guessResult">@ViewBag.newGame</div>
	}


}
<form asp-controller="GuessingGame" asp-action="GuessingGame" method="post">
	<div>
		Guess a number between 1 and 100.
	</div>
	<label class="bold">Your guess: </label>
	<input type="text" name="playerGuess" />
	<input type="submit" value="Guess!" />
	
</form>


<div><h2><a asp-controller="GuessingGame" asp-action="GuessingGame">Restart the game</a></h2> </div>